$primary-color: #333;
$secondary-color: #f4f4f4;
$text-color: #fff;
$base-font-family: Arial, sans-serif;
$base-margin-padding: 0;
$header-footer-padding: 1em;
$mobile-padding: 0.5em;

$coveo-main-color: #333357;
$desktop-max-width: 1198px;
$desktop-padding: 4em 20px 0;
$coveo-button-blue: #1372ec;
$form-background-color: #ffffff;
$red-pretitle: #f05245;
$h1-font-size--mobile: 2em;
$h1-font-size--desktop: 4em;
$speaker-title-color: #626971;
$card-title-hover-color: #1372ec;
$card-title-color: #282829;
